* {
 black:		#282828;
 red:		#cc241d;
 green:		#98971a;
 yellow:	#d79921;
 blue:		#458588;
 purple:	#b16286;
 aqua:		#689d6a;
 gray:		#a89984;
 brgray:	#928374;
 brred:		#fb4934;
 brgreen:	#b8bb26;
 bryellow:	#fabd2f;
 brblue:	#83a598;
 brpurple:	#d3869b;
 braqua:	#8ec07c;
 white:		#ebdbb2;
 bg1:       #3c3836;
 bg2:		#504945;
 unfocused: rgba(55, 55, 51, 1);
 black-90:  rgba(40,40,40,0.9);
 black-80:  rgba(40,40,40,0.8);
 black-70:  rgba(40,40,40,0.7);
 black-60:  rgba(40,40,40,0.6);
 black-50:  rgba(40,40,40,0.5);
 black-45:  rgba(40,40,40,0.45);
 black-40:  rgba(40,40,40,0.4);
 black-38:  rgba(40,40,40,0.38);
 black-36:  rgba(40,40,40,0.36);
 black-35:  rgba(40,40,40,0.35);
 black-34:  rgba(40,40,40,0.34);
 black-32:  rgba(40,40,40,0.32);
 black-30:  rgba(40,40,40,0.3);
 black-25:  rgba(40,40,40,0.25);
 black-20:  rgba(40,40,40,0.2);
 black-10:  rgba(40,40,40,0.1);

    foreground:                  @black;
    background:                  @white;
    foreground-normal:           @foreground;
    background-normal:           @background;
    foreground-urgent:           @green;
    background-urgent:           @background-normal;
    foreground-active:           @blue;
    background-active:           @background;
    foreground-select:           @red;
    background-select:           transparent;
    border:                      @red;
    font:                       "JetBrainsMono Nerd Font Mono semibold 12";
}

/* Window Configuration */
#window {
    transparency:                "real";
    fullscreen:         false;
    hide-scrollbar:     true;
    line-padding:       10;
    padding:            0px;
    width:              400px;
    location:           north;
    x-offset:           0px;
    y-offset:           3px;
    border-color:           @border;
    background-color:       transparent;
    text-color:             @foreground;
}

/* Mainbox Configuration */
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     -3px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @white;
    background-color:            @black-40;
    children:                    ["mainboxb"];
}

/*****----- mainbox_clone-----*****/
mainboxb {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @black-10;
    text-color:                  @white;
    children:                    ["mainboxc"];
}

mainboxc {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @black-10;
    text-color:                  @white;
    children:                    [ "mainboxd"];
}

mainboxd {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @black-20;
    text-color:                  @white;
    children:                    [ "mainboxe"];
}

mainboxe {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @black-40;
    text-color:                  @white;
    children:                    [ "mainboxf"];
}

mainboxf {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @black-50;
    text-color:                  @white;
    children:                    [ "mainboxg"];
}

mainboxg {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     3px;
    border:                      0px;
    border-radius:               5px;
    background-color:            @white;
    text-color:                  @black;
    children:                    ["message", "listview"];
}

/* Message Configuration */
#message {
    padding:            0px 1px 10px;
    border-color:       @background;
    background-color:   @background;
}

/* Listview Configuration */
#listview {
    fixed-height:       0;
    border:             2px 0px 0px;
    spacing:            3px;
    scrollbar:          false;
    padding:            1px -2px 1px -15px;
    columns:            7;
    lines:              8;
    border-color:       @background;
    background-color:   @background;
}

/* Element Configuration */
#element {
    border:             0;
    padding:            8px 0px 0px;
    background-color:   @background;
}

/* Mode Switcher Configuration */
#mode-switcher {
    border:             0px 0px 0px;
}

/* Button Configuration */
#button {
    spacing:            0;
    text-color:         @foreground;
    background-color:   @background;
}

#button.selected {
    background-color:   @background;
    text-color:         @foreground;
}

#textbox {
    text-color: @foreground;
    background-color:   @background;
    font:               "JetBrainsMono Nerd Font Mono semibold 15";
}


#element.normal.normal {
    background-color: @background-normal;
    text-color:       @foreground-normal;
}
#element.normal.urgent {
    background-color: @background-urgent;
    text-color:       @foreground-urgent;
}
#element.normal.active {
    background-color: @background-active;
    text-color:       @foreground-active;
}
#element.selected.normal {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.selected.urgent {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.selected.active {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.alternate.normal {
    background-color: @background-normal;
    text-color:       @foreground-normal;
}
#element.alternate.urgent {
    background-color: @background-urgent;
    text-color:       @foreground-urgent;
}
#element.alternate.active {
    background-color: @background-active;
    text-color:       @foreground-active;
}
#mode-switcher {
    border-color: @background;
    foreground-color:   @background;
    background-color:   @background;
}

#case-indicator {
    text-color: @foreground;
    background-color:   @background;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;

}

