* {
    nord8: 	                    #689d6a;	
    white:                       #ebdbb2;
    black:                       #1d2021;
    red:                         #cc241d;
    unfocused:                  rgba(55, 55, 51, 1);

    foreground:                  @black;
    background:                  @white;
    foreground-normal:           @foreground;
    background-normal:           @background;
    foreground-urgent:           @nord8;
    background-urgent:           @background-normal;
    foreground-active:           @red;
    background-active:           @background;
    foreground-select:           @white;
    background-select:           @unfocused;
    border:                      @red;
    font:                       "JetBrainsMono Nerd Font Mono semibold 11";
}

/* Window Configuration */
#window {
    fullscreen:         false;
    hide-scrollbar:     true;
    line-padding:       10;
    padding:            10px;
    width:              400px;
    location:               north east;
    x-offset:               -4%;
    y-offset:               3%;
}

/* Mainbox Configuration */
#mainbox {
    children:           [message, inputbar, listview];
    border:             0;
    padding:            0;
    background-color:   @background;
}

/* Message Configuration */
#message {
    padding:            0px 1px 10px;
}

/* Listview Configuration */
#listview {
    fixed-height:       0;
    border:             2px 0px 0px;
    spacing:            3px;
    scrollbar:          false;
    padding:            1px 1px 1px;
    columns:            7;
    lines:              8;
}

/* Element Configuration */
#element {
    border:             0;
    padding:            8px 0px 0px;
    horizontal-align:   true;
}

/* Mode Switcher Configuration */
#mode-switcher {
    border:             0px 0px 0px;
}

/* Button Configuration */
#button {
    spacing:            0;
}

#button.selected {
}

/* Inputbar Configuration */
#inputbar {
    children:           [prompt, textbox-prompt-colon, entry, case-indicator];
    spacing:            0;
    padding:            0 0 0 80;
    border:             1 0 0 0;
    border-color:       @border;
}

/* Prompt Configuration */
#prompt {
    spacing:            0;
    padding:            10 0 0 0;
}

/* Textbox Prompt Colon Configuration */
#textbox-prompt-colon {
    expand:             false;
    str:                " ";
    margin:             0px 0.3em 0em 0em;
}

/* Entry Configuration */
#entry {
    spacing:            0;
    padding:            10 0 0 0;
}

/* Case Indicator Configuration */
#case-indicator {
    spacing:            0;
}

#window {
    border-color:           @border;
    background-color:       @background;
    text-color:             @foreground;
}
#mainbox {
    background-color:   @background;
}
#message {
    border-color: @background;
    background-color:   @background;
}
#textbox {
    text-color: @foreground;
    background-color:   @background;
}
#listview {
    border-color: @background;
    background-color:   @background;
}
#element {
    background-color:   @background;
}
#element.normal.normal {
    background-color: @background-normal;
    text-color:       @foreground-normal;
}
#element.normal.urgent {
    background-color: @background-urgent;
    text-color:       @foreground-urgent;
}
#element.normal.active {
    background-color: @background-active;
    text-color:       @foreground-active;
}
#element.selected.normal {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.selected.urgent {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.selected.active {
    background-color: @background-select;
    text-color:       @foreground-select;
}
#element.alternate.normal {
    background-color: @background-normal;
    text-color:       @foreground-normal;
}
#element.alternate.urgent {
    background-color: @background-urgent;
    text-color:       @foreground-urgent;
}
#element.alternate.active {
    background-color: @background-active;
    text-color:       @foreground-active;
}
#mode-switcher {
    border-color: @background;
    foreground-color:   @background;
    background-color:   @background;
}
#button {
    text-color: @foreground;
    background-color:   @background;
}
#button.selected {
    background-color: @background;
    text-color:       @foreground;
}
#inputbar {
    text-color: @foreground;
    background-color:   @background;
}
#case-indicator {
    text-color: @foreground;
    background-color:   @background;
}
#entry {
    text-color: @foreground;
    background-color:   @background;
}
#prompt {
    text-color: @foreground;
    background-color:   @background;
}
#textbox-prompt-colon {
    text-color: @foreground;
    background-color:   @background;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

