/************************************************
 * ROFI Color theme
 * User: Daguhh
 * Copyright: 2020 Daguhh
 ***********************************************/

@import "theme_base.rasi"


* {
    nord8: 	                    #689d6a;	
    white:                       #ebdbb2;
    black:                       #1d2021;
    red:                         #cc241d;
    unfocused:                  rgba(55, 55, 51, 1);

    foreground:                  @black;
    background:                  @white;
    foreground-normal:           @foreground;
    background-normal:           @background;
    foreground-urgent:           @nord8;
    background-urgent:           @background-normal;
    foreground-active:           @red;
    background-active:           @background;
    foreground-select:           @white;
    background-select:           @unfocused;
    border:                      @red;
    font:                       "JetBrainsMono Nerd Font Mono semibold 11";
}
